@{
    ViewBag.Title = "Potwierdzenie adresu e-mail";
}

<h4>@ViewBag.Title.</h4>
<div>
    <p>
        Dziękujemy za potwierdzenie adresu e-mail. @Html.ActionLink("Kilknij tu, żeby się zalogować.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
