@{
    ViewBag.Title = "DisplayEmail";    
}

<h4>Potwierdź swój email.</h4>

<div>
    <p>
        Na adres podany w formularzu został wysłany e-mail z linkiem do aktywacji Twojego konta.
    </p>
</div>

