@{
    ViewBag.Title = "DisplayEmail";    
}

<h2>Potwierdź swój email.</h2>

<div>
    <p>
        Na adres podany w formularzu został wysłany e-mail z linkiem do aktywacji Twojego konta.
    </p>
</div>

