@model IEnumerable<BetEuro.Match>

@{
    ViewBag.Title = "Bet Euro";
}


@foreach (Match item in Model.OrderBy(p => p.Date))
{
    <div class="row">
        <h2>@item.HomeTeam.ShortName - @item.AwayTeam.ShortName</h2>
    </div>
}


